h2{
    font-size: 32px;
font-family: 'Montserrat';
font-weight: 600;
line-height: 40px;
color: #2C2D2E;
text-align: center;
padding-top: 40px;
padding-bottom: 32px;
span{
    color: #EF7C00;
}
}
.company{
    display: flex;
justify-content: space-between;
gap: 30px;
align-items: center;
.desc{


p{
    color: #2C2D2E;
font-size: 15px;
font-family: 'Montserrat';
line-height: 20px;
}
}
}