
.sertificate{

    h2{
       
    
        color: #2C2D2E;
    text-align: center;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 40px;
    span{
        color: #EF7C00;
    }
    }
}